h1 {
    display: block;
    background-color: #ccc;
    text-align: center;
    font-family: "Arial Black";
}

h2, h3, h4{
    font-family: "Arial Black";
    text-align: left;
}

h3, h4 {
    color: rgb(130, 130, 130);;
}

.Panel {
    border: 1px solid rgb(200,200,200);
    font-family: "Arial";
    margin: 5px 0;
}

.Panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(230, 230, 230);
    padding: 7px 10px;
    text-align: left;
}

.Panel-content {
    padding: 7px 10px;
    text-align: left;
}

.App {
    text-align: left;
}

.App-todo {
    text-align: left;
    list-style: none;
}

button {
    display: inline-block;
    padding: 10px 5px;
}

input {
    display: inline-block;
    padding: 9px 5px;
    margin-right: 5px;
}